# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* Show some basic arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. stringr
3. plotly
4. ggplot
5. Numpy
6. Pands
7. Seaborn
8. Matplotlib

Some of the commonly used libraries used by Data Scientists include:

|Data Science Tools|
|----------------|
|Hadoop |
|Weka|
|Jupyter Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Mazdak Safari Paskeh